<ul class="menu" id="recipe_menu">
	<% if recipe.my_favorite? -%>
		<%= content_tag :li, link_to_remote('Upravit', :url => edit_recipe_path(recipe), :method => :get, :html => { :title => 'Upravit recept.', :href => edit_recipe_path(recipe) }) %>
		<%= content_tag :li, link_to('Poslat', "#", :title => 'Poslat recept známému.') %>
		<li>
			<% remote_form_for recipe.my_favorite?, :html => { :method => :delete } do |f| -%>
				<%= f.submit "Odstranit", :class => 'warning', :title => 'Odstranit recept z mé kuchařky.' %>
			<% end -%>
		</li>
	<% else -%>
		<li>
			<% remote_form_for FavoriteRecipe.new do |f| -%>
				<%= f.hidden_field :recipe_id, :value => recipe.id, :class => 'hidden' %>
				<%= f.submit "Přidat recept do mé kuchařky" %>
			<% end -%>
		</li>
	<% end -%>
</ul>