<h1><%= h recipe %></h1>
<%= render :partial => 'recipe_menu', :locals => { :recipe => recipe } %>

<h2>Ingredience</h2>

<ul>
<% recipe.recipe_ingredients.each do |recipe_ingredient| -%>
	<%= content_tag :li, h(recipe_ingredient.raw) %>
<% end -%>
</ul>

<h2>Postup</h2>

<p>
	<%= h(recipe.directions).gsub("\n", '<br />') %>
	<span class="author" title="Autor receptu.">—<%= h recipe.owner %></span>
</p>