<div id="left_side" class="side">
	<h1>O vaření.cz</h1>

	<p id="abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh dui, cursus et, dictum molestie, vehicula vel, metus. Aenean vestibulum mi a justo mollis semper. Nunc eget neque eleifend enim dignissim rhoncus. Aliquam non purus.</p>

	<hr class="hidden" />

	<div class="article">
		<h2>Když to sníš, něco zvíš…</h2>
		<p class="date">6. Dubna</p>
		<p>Pomocí lidového rčení uvedeme vždy nový nebo méně známý druh jídla či potraviny. Přidáme vždy několik zajímavých, veřejnosti utajených informací z pozadí vzniku, historie, produkce či receptury.</p>
	</div>

	<div class="article">
		<h2>Víte, co je vhodné pro dítě?</h2>
		<p class="date">1. Dubna</p>
		<p>Tato rubrika je určená pro starostlivé maminky, které dbají o správný růst a rozvoj svých dětí. Bude obsahovat doporučení vhodných potravin, optimálních kuchyňských úprav, varování před nevhodnými potravinami, rady pro vhodné diety u obézních dětí či pro výživové programy u dětí rachitických a hubených.</p>
	</div>
</div>

<hr class="hidden" />

<div id="right_side" class="side">
	<h2 class="hidden">Hlavní menu</h2>
	<ul id="main_menu">
		<li><%= link_to "Recepty", "#" %></li>
		<li><%= link_to "Blog", "#" %></li>
		<li><%= link_to "O projektu", "#" %></li>
		<li><%= link_to "Přihlášení", login_path %></li>
		<li id="search"><input type="text" value="rychlé hledání receptu..."/></li>
	</ul>
	
	<hr class="hidden" />
	
	<div id="reg">
		<h2>Vytvoření kuchařky</h2>
		<p>Chcete-li mít vlastní kuchařku, zadejte do následující kolonky svou e-mailovou adresu a můžete začít. Na zadanou adresu Vám poté zašleme další potřebné informace.</p>
		<% form_for @user, :html => { :autocomplete => "off" } do |f| -%>
			<%= f.label :email, "E-mail" %>
			<%= f.text_field :email %>
			<%= f.submit "Vytvořit", :disable_with => 'Vytvořit' %>
		<% end -%>
		<hr />
		<p>nebo se <%= link_to "přihlášte", login_path %> ke své kuchařce.</p>
	</div>
	
	<hr class="hidden" />

	<div class="recipes-block">
		<h2>Oblíbené recepty</h2>
		<ul class="recipes">
			<% Recipe.popular_recipes.each do |recipe| -%>
				<%= content_tag :li, recipe %>
			<% end -%>
		</ul>
	</div>
</div>