<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'global', 'pages' %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="<%= controller.action_name %>">

<!-- <div id="topmenu"> <%# TODO: Remove or what? %>
	<% if !current_user -%>
	  <%= link_to "Log In", new_user_session_path %>
	<% else -%>
	  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
	<% end -%>
</div> -->

<div id="wrapper">
	<% flash.each do |key, msg| -%>
	  <%#= content_tag :p, msg, :class => "flash #{key}" %>
	<% end -%>
	
	<%= yield %>
</div>

</body>
</html>
