<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'global', 'pages', :cache => true %>
  <%= javascript_include_tag 'prototype', 'effects', :cache => true %>
</head>
<body class="<%= controller.action_name %>"<%= yield :body %>>

<!-- <div id="topmenu"> <%# TODO: Remove or what? %>
	<% if !current_user -%>
	  <%= link_to "Log In", new_user_session_path %>
	<% else -%>
	  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
	<% end -%>
</div> -->

<div id="wrapper">
	<% flash.each do |key, msg| -%>
	  <%#= content_tag :p, msg, :class => "flash #{key}" %>
	<% end -%>
	
	<%= yield %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3740154-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
