<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title><%= h(yield(:title) || "O vaření.cz – Vaše kuchařka na internetu") %></title>
	<%= stylesheet_link_tag 'global', 'pages' %>
	<%= javascript_include_tag 'prototype', 'effects', :cache => true %>
</head>
<body class="<%= controller.action_name %>"<%= yield :body %>>

<div id="wrapper">
	<% flash.each do |key, msg| -%>
		<%#= content_tag :p, msg, :class => "flash #{key}" %>
	<% end -%>
	
	<div id="left_side" class="side">
		<h1>O vaření.cz</h1>

		<%= render :partial => 'recipe_search' %>

		<div class="recipes-block">
			<h2>Recepty z mé kuchařky</h2>
			<ul class="recipes" id="my_recipes">
				<%= render :partial => 'recipe_link', :collection => @recipes %>
			</ul>
		</div>

		<hr class="hidden" />

		<div class="recipes-block">
			<h2>Doporučené recepty</h2>
			<ul class="recipes" id="suggested_recipes">
				<%= render :partial => 'recipe_link', :collection => @suggested_recipes %>
			</ul>
		</div>
	</div>

	<hr class="hidden" />

	<div id="right_side" class="side">
		<h2 class="hidden">Hlavní menu</h2>
		<ul id="main_menu">
			<li><%= link_to_remote "Vytvořit recept", :url => new_recipe_path, :method => :get, :html => { :href => new_recipe_path, :accesskey => 'n', :accesskey => 'n' } %></li>
			<li><%= link_to "Blog", "#" %></li>
			<li><%= link_to "Odhlásit", logout_path %></li>
			<li class="right"><%= current_user.email %></li>
		</ul>

		<div id="content">
			<%= yield %>
		</div>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3740154-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
